<ion-header class="header">
  <img class="logo" src="../../assets/Images/ap.png" />
  <div class="wrapper1">
      <ion-button font-familiy = 'stranger' color="medium">User Manual</ion-button>
  </div>
  <div class="wrapper2">
    <ion-button color="medium">Documentation</ion-button>
</div>
</ion-header>

<ion-content padding class="background">
  <ion-card class = "gameplayCard">
    <ion-card-header>
      <ion-card-title class="cardTittle">Gameplay</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ul class="list-inline rating-list" *ngFor="let star of stars; let i= index">
        <li (click)="countStar(star)" [ngClass]="{'selected': (star <= selectedValue)}" (mouseover)="addClass(star)"
          (mouseout)="removeClass()"> <span class="material-icons"> <ion-icon name="star-outline"></ion-icon> </span>
        </li>
      </ul>
    </ion-card-content>
  </ion-card>

  <ion-card class = "musicCard">
    <ion-card-header>
      <ion-card-title class="cardTittle">Music</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ul class="list-inline rating-list" *ngFor="let star of stars; let i= index">
        <li (click)="countStar(star)" [ngClass]="{'selected': (star <= selectedValue)}" (mouseover)="addClass(star)"
          (mouseout)="removeClass()"> <span class="material-icons"> <ion-icon name="star-outline"></ion-icon> </span>
        </li>
      </ul>
    </ion-card-content>
  </ion-card>

  <ion-card class = "designCard">
    <ion-card-header>
      <ion-card-title class="cardTittle">Design</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ul class="list-inline rating-list" *ngFor="let star of stars; let i= index">
        <li (click)="countStar(star)" [ngClass]="{'selected': (star <= selectedValue)}" (mouseover)="addClass(star)"
          (mouseout)="removeClass()"> <span class="material-icons"> <ion-icon name="star-outline"></ion-icon> </span>
        </li>
      </ul>
    </ion-card-content>
  </ion-card>

  <ion-card class = "storyCard">
    <ion-card-header>
      <ion-card-title class="cardTittle">Story</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ul class="list-inline rating-list" *ngFor="let star of stars; let i= index">
        <li (click)="countStar(star)" [ngClass]="{'selected': (star <= selectedValue)}" (mouseover)="addClass(star)"
          (mouseout)="removeClass()"> <span class="material-icons"> <ion-icon name="star-outline"></ion-icon> </span>
        </li>
      </ul>
    </ion-card-content>
  </ion-card>

  <ion-card class = "difficultyCard">
    <ion-card-header>
      <ion-card-title class="cardTittle">Difficulty</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ul class="list-inline rating-list" *ngFor="let star of stars; let i= index">
        <li (click)="countStar(star)" [ngClass]="{'selected': (star <= selectedValue)}" (mouseover)="addClass(star)"
          (mouseout)="removeClass()"> <span class="material-icons"> <ion-icon name="star-outline"></ion-icon> </span>
        </li>
      </ul>
    </ion-card-content>
  </ion-card>


</ion-content>